form {
    margin-top: 70px;
    width: 300px;
    height: 450px; 
    padding: 20px;
    background-color: white;
    float: left; 
    margin-left: 20px;
}

.image-container {
    float: right;
    margin-left: 10px; 
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(132,195,250,255);
    overflow: hidden;
}

h2 {
    color: #333;
}

.error {
    color:red;
}

input[type="text"],
select {
    width: calc(100% - 20px); 
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: rgba(132,195,250,255);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: calc(100% - 20px);
}

input[type="submit"]:hover {
    background-color: rgba(132,195,250,255);
}
